<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <div class="flex">

    <%- include('sidebar') %>

    <div class="flex-1">
      <%- include('header') %>

      <main class="p-6">
        <%- include('../' + body) %>
      </main>

      <%- include('footer') %>
    </div>

  </div>
</body>
</html>